:root{
    --corFonte: #FFF;
    --corFonte2:#155724;
    --corFontei: #1E7E34;
    --corFonteiDelete: #BD2130;
    --cor1: #007BFF;
    --cor2: #D4EDDA;
    --corBorda: #C3E6CB; 
}

.navbar-brand img{
    width: 50px;
}
#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

/* home */
#contacts-table{
    max-width: 800px;
    margin: 0 auto; 
    /* ↑ centraliza ao meio: 0 ↑↓ auto mid */
}

#contacts-table thead tr th{
    color: var(--corFonte);
    padding: 13px;
    background-color: var(--cor1);
}

.col-id{
    font-weight: bold;
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon{
    color: var(--corFontei); 
    /* posso manusear a cor de um ícone como se fosse um texto */
}

.edit-icon{
    color: var(--cor1); 
    /* posso manusear a cor de um ícone como se fosse um texto */
}

.delete-btn{
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon{
    color: var(--corFonteiDelete); 
    /* posso manusear a cor de um ícone como se fosse um texto */
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: var(--corFonte2);
    background-color: var(--cor2);
    border: 1px solind var(--corBorda);
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Show / Contato individual */

#view-contact-container{
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

#back-link-container {
    display: block;
    width: 500px;
    margin: 30px auto 0;
  }
  
  #back-link {
    border: 1px solid #007BFF;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
  }
  
  #back-link:hover {
    text-decoration: none;
  }

  /* CREATE */
  #create-form,
  #edit-form{

    max-width: 500px;
    margin: 0 auto;
  }

  /* MOBILE */

  @media(max-width: 500px){
    #home-link{
        display: none;
    }
  }